body{
  text-align: center;
  background-color: #006400;
  color: white;
}

.card {
  border: solid black 4px;
  border-radius: 10px;
  height: 350px;
  margin: 0 auto;
  margin-top: 100px;
  width: 250px;
  margin-bottom: 35px;
  background-color: white;
  outline: groove white 4px;
  outline-offset: 20px;
}

.card2 {
  border: solid black 4px;
  border-radius: 10px;
  height: 350px;
  margin: 0 auto;
  margin-top: 100px;
  width: 250px;
  margin-bottom: 35px;
  background-color: white;
  outline: groove white 4px;
  outline-offset: 20px;
}

.card_suit{
  color: black;
  font-size: 75px;
  text-align: center;
}

#cardNumber {
  color: black;
  font-size: 75px;
}

#cardNumber2 {
  color: black;
  font-size: 75px;
}

h1 {
  padding-top: 20px;
}

.outer-card {
  border: white solid 4px;
  height: 400px;
  width: 300px;
  margin-top: 100px;
  border-radius: 10px
}
