body{
  background-color: #006400;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  text-align: center;
}

.header {
  margin-bottom: 22px;
  margin-top: 12px;
}

.card {
  background-color: white;
  border: solid black 4px;
  border-radius: 10px;
  height: 350px;
  margin: 0 auto;
  margin-bottom: 35px;
  margin-top: 100px;
  outline: groove white 4px;
  outline-offset: 20px;
  width: 250px;
}

.card2 {
  background-color: white;
  border: solid black 4px;
  border-radius: 10px;
  height: 350px;
  margin: 0 auto;
  margin-bottom: 35px;
  margin-top: 100px;
  outline: groove white 4px;
  outline-offset: 20px;
  width: 250px;
}

.card_suit{
  color: black;
  font-size: 75px;
  text-align: center;
}

#cardNumber {
  color: black;
  font-size: 75px;
}

#cardNumber2 {
  color: black;
  font-size: 75px;
}

h1 {
  padding-top: 20px;
}

.outer-card {
  border: white solid 4px;
  border-radius: 10px;
  height: 400px;
  margin-top: 100px;
  width: 300px;
}

.images{
  margin-top: 20px;
}

.rules {
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
}

@keyframes makeBigger {
  0% { font-size: 16px; }
  100% {font-size: 18px;
  color: red;}
}

.lives {
  animation: makeBigger;
  animation-duration: 2s;
}

.score {
  animation: makeBigger;
  animation-duration: 2s;
}

.header {
  font-size: 15vh;
}
