body{
  text-align: center;
}

.card {
  border: solid black 4px;
  border-radius: 10px;
  height: 350px;
  margin: 0 auto;
  margin-top: 100px;
  width: 250px;
  margin-bottom: 10px;
}

.card2 {
  border: solid black 4px;
  border-radius: 10px;
  height: 350px;
  margin: 0 auto;
  margin-top: 100px;
  width: 250px;
  margin-bottom: 10px;
}

.card_suit{
  color: black;
  font-size: 75px;
  text-align: center;
}

#cardNumber {
  color: black;
  font-size: 75px;
}

#cardNumber2 {
  color: black;
  font-size: 75px;
}
